.App {
  text-align: center;
  .box {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 550px;
    height: 200px;
    border: solid 20px transparent;
    color: rgb(1, 175, 255);
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 160px;
    box-sizing: border-box;
    &_backgrounded {
      background: rgb(190, 49, 209);
    }
    &_colored {
      border: solid 20px greenyellow;
    }
  }
  .btn {
    position: absolute;
    top: 350px;
    border: solid 2px black;

    height: 30px;
    width: 150px;
    line-height: 30px;
  }
  .btn_background {
    left: 100px;
  }
  .btn_color {
    left: 300px;
  }
  .btn_name {
    left: 500px;
  }
}
